[Application]
name=twittermetrics
version=1.0
# How to launch the app - this calls the 'main' function from the 'myapp' package:
entry_point=twittermetrics:main


[Python]
version=3.4.0

[Include]
# Importable packages that your application requires, one per line
packages = prettytable
     twitter
     requests

# Other files and folders that should be installed
files = api_key.txt
    stop_words_lib.txt
    requirements.txt
